/* スロットマシンのスタイル */
.slot-machine {
  text-align: center;
  margin-top: 0px;
  font-family: 'Arial', sans-serif;
}

/* リールコンテナのスタイル */
.reel-container {
  position: relative;
  width: 300px; /* スロットの横幅 */
  height: 300px; /* スロットの縦幅（3段） */
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

/* リールのスタイル */
.reel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  z-index: 1;
}

/* リールアイテムのスタイル */
.reel-item {
  text-align: center;
  line-height: 100px; /* アイテムの高さに合わせる */
  font-size: 24px;
  height: 100px;
  background-color: #fff; /* アイテムの背景色 */
  border-bottom: 0px solid #ccc; /* アイテム間のボーダー */
}

/* グレーエリアの設定 */
.top, .bottom {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.7);
  z-index: 2;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/* 中段のスタイル */
.middle {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100px;
  border-top: 2px solid #000; /* 枠線 */
  border-bottom: 2px solid #000; /* 枠線 */
  box-sizing: border-box;
  z-index: 3;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #1a1a1a;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.result, .time-remaining {
  margin-top: 20px;
  font-size: 16px;
  color: #444;
}

/* ヘッダーのスタイル */
.image-container {
  text-align: center;
  margin-bottom: 0px;
}

.image-container img {
  width: 250px;
  height: auto;
  margin: 0 auto;
}
